extends layout

block content
   h1.adsimple-321211306 Impressum
   p.adsimple-321211306 Informationspflicht laut &sect; 5 TMG.
   p.adsimple-321211306
   p #{website_contact_name}
   p.adsimple-321211306
     | #{website_contact_street} #{website_contact_routenumber}, 
     br
     | #{website_contact_plz} #{website_contact_city}, 
     br
     | Deutschland
   p.adsimple-321211306
     strong Tel.:
     |  #{website_contact_phone}
     br
     strong E-Mail:
     a(href='mailto:' + website_contact_email) #{website_contact_email}
   p(style='margin-top:15px;')
     | Quelle: Erstellt&nbsp;mit dem 
     a(title='Impressum Generator Deutschland' href='https://www.adsimple.de/impressum-generator/' target='_blank' rel='follow' style='text-decoration:none;') Impressum Generator
     |  von AdSimple&nbsp;in Kooperation mit 
     a(href='https://www.slashtechnik.de' target='_blank' rel='follow' title='') slashtechnik.de
   h2.adsimple-321211306 EU-Streitschlichtung
   p
     | Gem&auml;&szlig; Verordnung &uuml;ber Online-Streitbeilegung in Verbraucherangelegenheiten (ODR-Verordnung) m&ouml;chten wir Sie &uuml;ber die Online-Streitbeilegungsplattform (OS-Plattform) informieren.
     br
     | Verbraucher haben die M&ouml;glichkeit, Beschwerden an die Online Streitbeilegungsplattform der Europ&auml;ischen Kommission unter 
     a.adsimple-321211306(href='https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&lng=DE' target='_blank' rel='noopener') http://ec.europa.eu/odr?tid=321211306
     |  zu richten. Die daf&uuml;r notwendigen Kontaktdaten finden Sie oberhalb in unserem Impressum.
   p
     | Wir m&ouml;chten Sie jedoch darauf hinweisen, dass wir nicht bereit oder verpflichtet sind, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.
   h2.adsimple-321211306 Haftung f&uuml;r Inhalte dieser Website
   p
     | Wir entwickeln die Inhalte dieser Webseite st&auml;ndig weiter und bem&uuml;hen uns korrekte und aktuelle Informationen bereitzustellen. Laut Telemediengesetz 
     a.adsimple-321211306(href='https://www.gesetze-im-internet.de/tmg/__7.html?tid=321211306' rel='noopener' target='_blank') (TMG) &sect;7 (1)
     |  sind wir als Diensteanbieter f&uuml;r eigene Informationen, die wir zur Nutzung bereitstellen, nach den allgemeinen Gesetzen verantwortlich. Leider k&ouml;nnen wir keine Haftung f&uuml;r die Korrektheit aller Inhalte auf dieser Webseite &uuml;bernehmen, speziell f&uuml;r jene die seitens Dritter bereitgestellt wurden. Als Diensteanbieter im Sinne der &sect;&sect; 8 bis 10 sind wir nicht verpflichtet, die von ihnen &uuml;bermittelten oder gespeicherten Informationen zu &uuml;berwachen oder nach Umst&auml;nden zu forschen, die auf eine rechtswidrige T&auml;tigkeit hinweisen.
   p
     | Unsere Verpflichtungen zur Entfernung von Informationen oder zur Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen aufgrund von gerichtlichen oder beh&ouml;rdlichen Anordnungen bleiben auch im Falle unserer Nichtverantwortlichkeit nach den &sect;&sect; 8 bis 10 unber&uuml;hrt.
   p
     | Sollten Ihnen problematische oder rechtswidrige Inhalte auffallen, bitte wir Sie uns umgehend zu kontaktieren, damit wir die rechtswidrigen Inhalte entfernen k&ouml;nnen. Sie finden die Kontaktdaten im Impressum.
   h2.adsimple-321211306 Haftung f&uuml;r Links auf dieser Website
   p
     | Unsere Webseite enth&auml;lt Links zu anderen Webseiten f&uuml;r deren Inhalt wir nicht verantwortlich sind. Haftung f&uuml;r verlinkte Websites besteht f&uuml;r uns nicht, da wir keine Kenntnis rechtswidriger T&auml;tigkeiten hatten und haben, uns solche Rechtswidrigkeiten auch bisher nicht aufgefallen sind und wir Links sofort entfernen w&uuml;rden, wenn uns Rechtswidrigkeiten bekannt werden.
   p
     | Wenn Ihnen rechtswidrige Links auf unserer Website auffallen, bitte wir Sie uns zu kontaktieren. Sie finden die Kontaktdaten im Impressum.
   h2.adsimple-321211306 Urheberrechtshinweis
   p
     | Alle Inhalte dieser Webseite (Bilder, Fotos, Texte, Videos) unterliegen dem Urheberrecht der Bundesrepublik Deutschland. Bitte fragen Sie uns bevor Sie die Inhalte dieser Website verbreiten, vervielf&auml;ltigen oder verwerten wie zum Beispiel auf anderen Websites erneut ver&ouml;ffentlichen. Falls notwendig, werden wir die unerlaubte Nutzung von Teilen der Inhalte unserer Seite rechtlich verfolgen.
   p
     | Sollten Sie auf dieser Webseite Inhalte finden, die das Urheberrecht verletzen, bitten wir Sie uns zu kontaktieren.
   h2.adsimple-321211306 Bildernachweis
   p
     | Die Bilder, Fotos und Grafiken auf dieser Webseite sind urheberrechtlich gesch&uuml;tzt.
   p Die Bilderrechte liegen bei den folgenden Fotografen und Unternehmen:
   ul.adsimple-321211306
     li.adsimple-32121130A6 #{website_contact_name}  
   p(style='margin-top:15px;')
     | Quelle: Erstellt&nbsp;mit dem&nbsp;
     a(title='Datenschutz Generator Deutschland' href='https://www.adsimple.de/datenschutz-generator/' target='_blank' rel='follow' style='text-decoration:none;') Datenschutz Generator
     |  von AdSimple&nbsp;in Kooperation mit 
     a(href='https://www.hashtagmann.de' target='_blank' rel='follow' title='') hashtagmann.de
   
